/* * {
  box-sizing: border-box;
} */

html{
  background: url('https://source.unsplash.com/1600x900/?bakery █');
  max-height: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #002B5B;
  margin: 9em;
  margin-top:5em;
  background: #000000aa;
  border-radius: 20%;
}
.card h1{
  color: #8FE3CF;
  font-weight: 900;
  text-decoration: underline;
 
}
hr{
  color: #FFCACA;
}
.menu{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1.5em;
  color: #8FE3CF;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  font-family: Monospace;
}

.menu_item{}
    margin: 0.5em;
